@media (min-width: 1200px)
  body
    font-size: 14px;

@media (min-width: 1600px)
  body
    font-size: 16px;

// Custom styles.
html.mist
  #header
    .logo-line-before, .logo-line-after
      display: none;
  .header-inner
    padding: 5px 0 5px
    .site-meta .site-title
      font-size: 18px;
    .site-meta 
      margin-top: 4px

  article.post.post-type-normal
    border-radius: 5px;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 0 40px rgba(0,0,0,.12);

  .main-inner
    margin-top: 20px
  .post-body
    margin-top: 20px
    // font-family: "Linux Biolinum",'Noto Serif SC',sans-serif;
    color: #000;

  .posts-expand 
    .post-title
      text-align: center;
    .post
      margin-top: 20px;
      &.post:first-child
        margin-top: 0;
    .post-meta
        text-align: center;
    .post-title-link::before
        background-image: linear-gradient(19deg, #101010 0%, #555 100%);

      // background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
    
    .post-button
      text-align: center;
      margin-top: 20px;
    .post-block
      margin-bottom: 28px;

  h1, h2, h3, h4, strong
    font-weight: 600;
    color: #2c3e50;

  // 默认 1000
  .container .main-inner
    // width: 1000px;

  @media (max-width: 767px)
    .container .main-inner 
        width: 100%!important;

  .btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    background: #fff;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
  }
  .btn:hover {
    border-color: #222;
    color: #fff;
    background: #222;
  }
  .btn +.btn {
    margin: 0 0 8px 8px;
  }


// AD
// 广告
.sitebar-ad-wrap
  width: 100%;
  margin-top: 10px;
  .adsbygoogle
    margin: 0 auto;
  
.post-ad
  margin-top: -24px;
  .post-footer
    margin-bottom: 30px;

.comments-ad
  min-height: 90px;
  margin: 16px auto 0 auto;
.adsbygoogle
  // background-color: red;
.post-content-ad
  margin: 24px auto;

/* 自定义的文章摘要图片样式 */
img.img-topic
  width: 100%;

// 归档页面
.posts-collapse
  .post-title-link
    margin-left: 46px;
  .post-meta
    left: 6px;