@media (min-width: 1200px)
  body
    font-size: 16px;

@media (min-width: 1600px)
  body
    font-size: 16px;

@media (max-width: 768px)
  body
    font-size: 17px;

@media (min-width: 767px)
  // 在是否首页 .content.true
  .content.true
    .post-image
      width: 50%;
      margin: 0 auto;
      &-8
        width: 80%;
        margin: 0 auto;
      &-10
        width: 100%;
        margin: 0 auto;

.content.false
  .post-image.not-in-post
    display: none;
  @media (max-width: 767px)
    .posts-expand
      margin: 0;
    .posts-expand article.post.post-type-normal
      border-radius: 0;
      padding: 10px 20px;
      box-shadow: none;

// Custom styles.
html.mist
  #header
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
    background-color: #f9f9f9;
    // background-image: linear-gradient(90deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%)!important;
    .logo-line-before, .logo-line-after
      display: none;
    .site-title
      color: #000;
  .header-inner
    padding: 5px 0 5px
    .site-meta .site-title
      font-size: 18px;
      transition: all .3s ease-in;
      &:hover
        background: url(/images/snow.gif);
        background-size: cover;
    .site-meta 
      margin-top: 4px
  #menu 
    .menu-item
      margin-right: 5px;
      position: relative;
      a
        color: #000;
        &:hover
          background: none;
          opacity: 0.6
      &-active
        a
          background: none;
          opacity: 0.6;
          // background-color: rgba(0, 0, 0, 0.05);
      &-tools
        &:after
          content: " ";
          width: 6px;
          height: 6px;
          background-color: #f5222d;
          display: inline-block;
          position: absolute;
          right: 2px;
          top: 4px;
          border-radius: 50%;
  .posts-expand
    p
      line-height: 29px;
      margin: 1em 0 1.25em 0;
    article.post.post-type-normal
      border-radius: 5px;
      padding: 10px 30px 20px 30px;
      // box-shadow: 0 0 40px rgba(0,0,0,.12);
  .content.true
    article.post.post-type-normal
      box-shadow: 0 0 40px rgba(0,0,0,.12);

  .main-inner
    margin-top: 20px
  .post-body
    margin-top: 20px
    // font-family: "Linux Biolinum",'Noto Serif SC',sans-serif;
    color: #444;
    h2, h3, h4, h5
      // margin-top: 32px;

  // 首页特殊样式 
  .content.true
    .post-header
      padding: 20px; 
      // height: 200px;
      position:relative;
      .post-title
        margin-top: 10px;
        transition: all .3s;
        &:hover a
          color: #000
      .post-avatar
        width: 80px
        height: 80px
        margin-right: 10px;
        border-radius: 5px;
        float: left;
        object-fit: cover;
      @media (max-width: 767px)
        .post-avatar
          display: none;
          width: 100%;
          height: auto;
          margin: 10px auto;
      .excerpt-text
        min-height: 50px;
        font-size: 14px;
        line-height: 28px;
        color: #757575;
      .post-meta
        clear: both;
        margin-top: 10px;
        margin-bottom: 0px !important;
        color: #a0a0a0;
        .post-category, .post-category a
          color: #444;
        a
          color: #a0a0a0;
          border: none;
        & > span 
          margin-right: 10px;
        time
          border: none !important;
          margin-right: 10px;
      .v-line
        border-bottom: 1px solid rgba(222,229,231,.45);
        border-color: rgba(237,241,242,.6);
        margin: 10px auto;

    .post.post-type-normal
      padding: 0
    .posts-expand
      .post-title
        text-align: left;
        font-size: 18px;
        margin-bottom: 10px;
      .post-title-link:hover::before
        visibility: hidden
      .post-meta
        text-align: left;
        margin-bottom: 10px;

  .posts-expand 
    .post-title
      text-align: center;
    .post
      margin-top: 20px;
      &.post:first-child
        margin-top: 0;
    .post-meta
        text-align: center;
    .post-title-link::before
        background-image: linear-gradient(19deg, #101010 0%, #2a2a2a 100%);

      // background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
    
    .post-button
      text-align: center;
      margin-top: 20px;
    .post-block
      margin-bottom: 28px;

  h1, h2, h3, h4, strong
    font-weight: 600;
    color: #2c3e50;

  // 默认 1000
  .container .main-inner
    // width: 1000px;

  @media (max-width: 767px)
    .container .main-inner 
        width: 100%!important;

  .btn {
    color: #6f42c1;
    background-color: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #6f42c1;
    transition-property: unset;
    padding: 0 15px;
    margin: inherit;
    transition: all .3s;
  }
  .btn:hover {
    background-color: #6f42c1;
    color: #fff;
    border-radius: 3px;
    margin: inherit;
  }

  .btn +.btn {
    margin: 0 0 8px 8px;
  }


// AD
// 广告
.sitebar-ad-wrap
  width: 100%;
  margin-top: 10px;
  .adsbygoogle
    margin: 0 auto;

.sidebar:not(.sidebar-active)
  .sitebar-ad-wrap
    display: none;

  
.post-ad
  &.post-type-normal
    padding: 0 !important;
    margin-top: 32px !important;
  .post-footer
    // margin-bottom: 30px;

.comments-ad
  min-height: 90px;
  margin: 16px auto 0 auto;
.adsbygoogle
  // background-color: red;
.top-comment-ad
  margin: 0px auto;
  text-align: center;

@media (max-width: 767px)
  .top-comment-ad.desktop
    display: none;

@media (min-width: 768px)
  .top-comment-ad.mobile
    display: none;

.comments
  max-width: 728px;
  margin: 30px auto;

.post-content-ad
  margin: 24px auto;

/* 自定义的文章摘要图片样式 */
img.img-topic
  width: 100%;

// 归档页面
.posts-collapse
  .post-title-link
    // margin-left: 46px;
  .post-meta
    left: 6px;

.posts-expand .post-body
  li > p
    margin-bottom: 6px;
.posts-expand .post-body
  h3, h4, h5, h6
    font-weight: normal;
  h1, h2
    margin-top: 2.2em;
  ul > li
    margin-bottom: 6px;
    list-style-type: square;
  li li
    margin-bottom: 6px !important;
  .note, .tabs
    p, li
      margin-bottom: 6px;
  .note
    font-size: 14px;

.posts-expand .post-body img
  padding: 3px;
  border-radius: 6px;
  border: none;
  margin: 0 auto;
  width: 80%;
  @media (max-width: 768px)
    width: 100%;

.tabs
  img
    width: 100% !important;

.img-box
  text-align: center;
  br
    display: none;
  .img-wrap
    width: 40%;
    display: inline-block;
    padding: 0;
    margin: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    span
      font-size: 12px
      color: #333;
      cursor: pointer;
      &:hover
        text-decoration: underline;

@media (max-width: 767px)
  .img-box .img-wrap
    width: 90%;

a[title="站长统计"]
  display: none;

.pagination
  margin-top: 80px;
  text-align: center;
  padding-top: 10px;
  .page-number, .next, .prev
    transition: all .3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    margin-right: 16px;
    border: 2px solid #000 !important;
    color: #000;
    &:hover, &.current
      background-color: #000;
      color: #fff;
    &.current
      opacity: 0.7;

.post-description
  display: none;

.post-block.archive, .post-block.category, .post-block.tag
  .posts-collapse .collection-title
    margin: 30px auto;
  .post.post-type-normal
    margin: 6px 0;
  .post-header
    border-bottom: none;
  .post-title
    margin: 0 0 0 60px;

.theme-info
  margin-right: 12px;
  .theme-link
    margin-right: 10px;

.post-footer
  .post-tags
    margin-top: 10px;
  .foot-note
    margin-top: 40px;
  h5
    margin: 0;
    margin-bottom: 10px;
  .note
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    &.primary
      border-left-color: rgba(0,0,0,0.7);
    .article-link
      display: block;
      border-bottom: none;
      margin-botom: 10px;
      &:hover
        // text-decoration: underline;
        // text-decoration-style: dashed;
.post-nav
  border-top: none;

#up_down
  display: flex;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  .up_down_item
    cursor: pointer;
    margin: 10px;
    padding: 4px 16px;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    &.active
      background-color: #000;
      color: #fff;
      &:hover
        color: #fff;
    &:hover
      color: #000;

h1, h2, h3, h4, h5, h6, p
  margin-top: 1.25em;

h1, h2, h3, h4, h5, h6
  line-height: 1.25em;


.comp-table + table
  border: none;
  td, th
    border: none;
  tbody > tr
    &:hover
      background-color: #fff;
    &:nth-of-type(odd)
      background-color: #fff;
  th
    color: #fff;
    padding: .5em 1em;
    font-weight: 700;
    font-size: 1.1em;
    width: 50%;
    &:first-child
      background-color: #6f42c1;
      border-radius: 4px 0 0 4px;
    &:last-child
      background-color: #d9534f;
      border-radius: 0 4px 4px 0;
  tr td
    &:first-child
      &:before
        content: "\f00c";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        text-rendering: auto;
        color: #6f42c1;
        margin-right: 10px;
    &:last-child
      &:before
        content: "\f05e";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        text-rendering: auto;
        color: #d9534f;
        margin-right: 10px;