// Custom styles.
html.mist
  #header
    .logo-line-before, .logo-line-after
      display: none;

  .site-meta .site-title
    font-size: 16px;

  .header-inner
    padding: 0;
    .site-nav
      @media (min-width: 767px)
        margin-left: 132px;

  .menu
    margin: 3px 0 0 0 !important;
    text-align: left;

  .posts-expand .post
    margin-top: 60px;

html.pisces
  .post-button
    margin-top: 20px;
    text-align: left;
  .posts-expand
    .post-title, .post-meta
      text-align: left;
    .post-meta
      margin: 3px auto;
    .post-eof
      display: none;
  .post-body
      margin-top: 28px;
  .post-footer
    margin-bottom: 60px;

  // 广告
  .sitebar-ad-wrap
    width: 100%;
    margin-top: 10px;
    .adsbygoogle
      margin: 0 auto;
  
  .post-ad
    margin-top: -24px;
    .post-footer
      margin-bottom: 30px;
  
  .comments-ad
    background-color: red;